:root {
  /*primary*/
  --primary-background-color: hsl(192, 100%, 67%);
  --secondary-background-color: hsl(280, 87%, 65%);

  /*Light Theme*/
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /*Dark Theme*/
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue/*(hover)*/: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1440px;
  min-height: 800px;
  background-image: url(images/bg-desktop-dark.jpg);
  background-color: var(--Very-Dark-Blue);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1.5em;
}
.main {
  width: 100%;
  max-width: 600px;
  min-height: 465px;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  position: relative;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.header h1 {
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--Very-Light-Gray);
}
.light-dark__btn {
  cursor: pointer;
}
.section-input {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding-left: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
.input-text__field {
  width: 88%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--Dark-Grayish-Blue);
}
.todo-list {
  padding: 0em 1.8em;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
  cursor: pointer;
}
.todo-list__name {
  font-size: 1.6rem;
  color: var(--Light-Grayish-Blue);
  margin-left: -8em;
}
.line-through {
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}
.todo-list__remove {
  font-size: 3.8rem;
  cursor: pointer;
  color: var(--Very-Light-Grayish-Blue);
  margin-left: 16%;
}
.section-options {
  height: 60px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
  border-radius: 5px;
  background-color: var(--Very-Dark-Desaturated-Blue);
}

/*input checkbox*/
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
input[type="checkbox"]:after {
  content: url(images/icon-check.svg);
  margin-top: 0.2em;
  display: none;
}
input[type="checkbox"]:hover {
  border: 1px solid var(--secondary-background-color);
}
input[type="checkbox"]:checked {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
input[type="checkbox"]:checked:after {
  display: block;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 0);
  }
  40% {
    transform: translate(2px, 0);
  }
  60% {
    transform: translate(-2px, 0);
  }
  80% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0);
  }
}

.vibrate {
  display: inline-block;
  animation: vibrate 1.2s linear;
}
.section-options p,
span {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
  margin: 0.2em;
}

.option-selection__desktop {
  display: flex;
  gap: 5%;
}
.option-selection__mobile {
  display: none;
}
.option-selection__desktop p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.option-selection__desktop p:hover {
  color: var(--Light-Grayish-Blue);
}
.option-clear__completed:hover {
  color: var(--Light-Grayish-Blue);
}
.active-task__list {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.footer {
  width: 320px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: var(--Dark-Grayish-Blue);
}
@media (max-width: 599px) {
  .option-selection__desktop {
    display: none;
  }
  .option-selection__mobile {
    display: block;
    margin-top: 1.5em;

    height: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 0em 1em;
    border-radius: 5px;
    background-color: var(--Very-Dark-Desaturated-Blue);
  }
  .option-selection__mobile {
    color: var(--Dark-Grayish-Blue);
  }
  .todo-list__name {
    font-size: 2.8rem;
    color: var(--Light-Grayish-Blue);
  }
}
@media (max-width: 599px) {
  .todo-list__name {
    margin-left: -1em;
    font-size: 0.925rem;
  }
  .input-text__field {
    font-size: 1.4rem;
  }
}
